.main {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 84px);
  flex: 1;
  align-items: center;
  justify-content: space-between;

  .wordPanel {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 2em;
    justify-content: flex-end;
  }

  .letterPanel.current {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 2em;
    margin: 0 -2em;
    border-radius: 0.3em;
  }

  .letterPanel.wid6 {
    font-size: 0.9em;
  }

  .letterPanel.wid7 {
    font-size: 0.8em;
  }

  .letterPanel.wid8 {
    font-size: 0.7em;
  }

  .letterPanel.wid9 {
    font-size: 0.6em;
  }

  .letterPanel.wid10 {
    font-size: 0.6em;
  }

  .letterPanel {
    display: flex;
    flex-flow: row;
    max-width: 100%;

    .letter.current {
      border: 2px solid rgba(255, 255, 255, 1);
    }

    .letter {
      border: 2px solid transparent;
      border-radius: 0.3em;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 2em;
      width: 2em;
      height: 2em;
      font-weight: bold;
      background: rgba(255, 255, 255, 0.3);
      margin: 0.1em;
      color: rgba(255, 255, 255, 0.7);
    }

    .correct {
      background: #0f0;
      color: rgba(0, 0, 0, 0.7);
    }

    .exists {
      background: #ba0;
      color: rgba(0, 0, 0, 0.7);
    }
  }

  .keyboard {
    display: flex;
    flex-flow: column;
    max-width: 100%;

    .keyline {
      display: flex;
      flex-flow: row;

      .key.correct {
        background: #0f0;
        color: rgba(0, 0, 0, 0.7);
      }

      .key.exists {
        background: #ba0;
        color: rgba(0, 0, 0, 0.7);
      }

      .key.missing {
        background: rgba(255, 255, 255, 0.1);
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  .key {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    align-self: center;
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-transform: uppercase;
    width: 2em;
    height: 2em;
    margin: 0.1em;
    flex: 1;
    cursor: pointer;
  }
}

@media(max-device-width: 27em) {
  .main {
    font-size: 0.7em;

    .keyboard {
      .key {
        height: 4em;
      }
    }
  }
}

