<div class="main">
  <div class="wordPanel">
    <div [class]="classForLine(y)" *ngFor="let word of wordList; let y = index">
      <div *ngIf="lineIdx === 0 && length > 5" (click)="keyClick('-')" class="key">-</div>
      <ng-container *ngFor="let letter of word; let x = index">
        <div [class]="classForLetter(letter, y, x)">{{letter.char}}</div>
      </ng-container>
      <div *ngIf="lineIdx === 0 && length < 10" (click)="keyClick('+')" class="key">+</div>
    </div>
  </div>

  <div class="keyboard">
    <div class="keyline" *ngFor="let line of keyboard">
      <ng-container *ngFor="let key of line">
        <div *ngIf="key.length === 1" (click)="keyClick(key)" [class]="classForKey(key)">{{key}}</div>
        <div *ngIf="key.length > 1" (click)="keyClick(key)" class="key">
          <mat-icon>{{key}}</mat-icon>
        </div>
      </ng-container>
    </div>
  </div>
</div>

